<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="cn.entertech.uicomponentsdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
                android:name=".activity.HRVLineChartFullScreenActivity">

        </activity>
        <activity
                android:name=".activity.SessionBrainwaveStackChartFullScreenActivity">

        </activity>
        <activity
                android:name=".activity.SessionBrainwaveChartFullScreenActivity">

        </activity>
        <activity
                android:name=".activity.BrainwaveTrendChartFullScreenActivity">

        </activity>
        <activity
                android:name=".activity.PressureTrendChartFullScreenActivity">

        </activity>
        <activity
                android:name=".activity.SessionCommonChartFullScreenActivity">

        </activity>
        <activity
                android:name=".activity.SessionPressureChartFullScreenActivity">

        </activity>
        <activity
                android:name=".activity.BrainwaveOptionalLineChartActivity" />
        <activity
                android:name=".activity.BrainwaveSpectrumLineChartActivity"/>
        <activity
                android:name=".activity.AffectiveLineChartFullScreenActivity" />
        <activity
                android:name=".activity.LineChartFullScreenActivity" />
        <activity
                android:name=".activity.CandleChartFullScreenActivity" />
        <activity
                android:name=".activity.BarChartFullScreenActivity" />
    </application>

</manifest>