<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="cn.entertech.uicomponentsdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
                android:name=".activity.HRVLineChartFullScreenActivity"
                android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity
                android:name=".activity.BrainwaveOptionalLineChartActivity"
                android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
                android:name=".activity.BrainwaveSpectrumLineChartActivity"
                android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
                android:name=".activity.AffectiveLineChartFullScreenActivity"
                android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
                android:name=".activity.LineChartFullScreenActivity"
                android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
                android:name=".activity.CandleChartFullScreenActivity"
                android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
                android:name=".activity.BarChartFullScreenActivity"
                android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
                android:name=".activity.WebActivity"
                android:theme="@style/ProgressBarStyle" />
    </application>

</manifest>